body{
    background-color: hsl(212, 45%, 89%);
    /* min-height: 100vh; */
    font-family: cursive;
    text-align: center;
}

.card{
    /* width: 100%; */
    max-width: 302px;
    height: 470px;
    padding: 1rem;
    box-shadow: 9px 8px 20px 3px rgb(0, 0, 0,0.3);
    border-radius: 12px;
    background-color: white;
    position: absolute;
    margin: auto;
    inset: 0px;
    padding-bottom: 3rem;
    /* position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);     */
    
    
}

img{
    width: 100%;
    border-radius: 10px;
}

h2{
    color: hsl(218, 44%, 22%);
}

p{
    color: hsl(220, 15%, 55%)
}
